body {
    font-family: Arial, sans-serif;
    position: absolute;
    background-color: gray;
    padding-top: 8%;
}

.container{
    background-color: rgb(37, 36, 36);
    height: 60vh;
    width: 40vw;
    text-align: center;
    padding-top: 5px;
    position: relative;
    left: 72%;
    border-radius: 10%;


}
h1{
    color: white;
    padding-bottom: 8%;
    
}

label {
    display: inline-block;
    width: 100px;
    text-align: left;
    color: rgb(224, 9, 73);
}

input[type="text"] {
    width: 28vw;
    padding: 5px;
    margin-bottom: 10px;
}
